@desktop: 1920;
@mobile: 540;

.Buttons {
  @apply pointer-events-none absolute top-0 h-full w-full;

  .d {
    @apply relative left-0 top-0 h-full w-full;

    button,
    & > div {
      @apply pointer-events-auto;
    }

    & > div {
      @apply absolute;

      &::before {
        content: '';
        @apply block w-full bg-cover bg-center bg-no-repeat;
      }

      &::after {
        content: '';
        @apply absolute bg-bottom bg-no-repeat;
      }
    }

    .c-0 {
      top: 63.3%;
      left: 39.3%;
      width: @width / @desktop * 100%;

      @width: 300.696;

      &:hover {
        &::before {
          background-position-y: 100%;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
        background-image: url(@img);
        background-position-y: 0%;

        @img: './img/buttons/n-b-0.svg';
      }

      @apply cursor-pointer;
    }

    .c-1 {
      top: 64.8%;
      left: 53.7%;
      width: @width / @desktop * 100%;

      @width: 37.3762;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transform-origin: center center;
        animation: scaleXY_150 1s ease-in-out infinite;
        animation-delay: 0s;

        @img: './img/buttons/c-1.svg';
      }

      &::after {
        bottom: 40.6%;
        margin-left: -66.321489%;
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: @w / @width * 100%;
        background-image: url(@img);
        transform-origin: center center;
        animation: visible_01 1s ease-in-out infinite;
        animation-delay: 0s;

        @w: 30.9972;
        @offset: -4%;
        @img: './img/buttons/c-1-f.svg';
        @apply left-1/2 bg-contain;
      }
    }

    .c-2 {
      top: 66.6%;
      left: 39.3%;
      width: @width / @desktop * 100%;

      @width: 300.696;

      &:hover {
        &::before {
          background-position-y: 100%;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
        background-image: url(@img);
        background-position-y: 0%;

        @img: './img/buttons/n-b-1.svg';
      }

      @apply cursor-pointer;
    }

    .c-3 {
      top: 68.1%;
      left: 53.7%;
      width: @width / @desktop * 100%;

      @width: 37.3762;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transform-origin: center center;
        animation: scaleXY_150 1s ease-in-out infinite;
        animation-delay: 0s;

        @img: './img/buttons/c-1.svg';
      }

      &::after {
        bottom: 40.6%;
        margin-left: -66.321489%;
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: @w / @width * 100%;
        background-image: url(@img);
        transform-origin: center center;
        animation: visible_01 1s ease-in-out infinite;
        animation-delay: 0s;

        @w: 30.9972;
        @offset: -4%;
        @img: './img/buttons/c-1-f.svg';
        @apply left-1/2 bg-contain;
      }
    }

    .c-4 {
      top: 80.9%;
      left: 67.9%;
      width: @width / @desktop * 100%;

      @width: 157.3807;

      &:hover {
        &::before {
          background-position-y: 100%;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
        background-image: url(@img);
        background-position-y: 0%;

        @img: './img/buttons/c-0.svg';
      }

      @apply cursor-pointer;
    }

    .c-5 {
      top: 82.5%;
      left: 75.1%;
      width: @width / @desktop * 100%;

      @width: 37.3762;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transform-origin: center center;
        animation: scaleXY_150 1s ease-in-out infinite;
        animation-delay: 0s;

        @img: './img/buttons/c-1.svg';
      }

      &::after {
        bottom: 40.6%;
        margin-left: -66.321489%;
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: @w / @width * 100%;
        background-image: url(@img);
        transform-origin: center center;
        animation: visible_01 1s ease-in-out infinite;
        animation-delay: 0s;

        @w: 30.9972;
        @offset: -4%;
        @img: './img/buttons/c-1-f.svg';
        @apply left-1/2 bg-contain;
      }
    }

    .c-6 {
      top: 93.1%;
      left: 37.4%;
      width: @width / @desktop * 100%;

      @width: 603.3027;

      &:hover {
        &::before {
          @apply border-b-2 border-quinary;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transition: 0.1s;

        @img: './img/buttons/contact.svg';

        @apply bg-cover bg-center bg-no-repeat;
      }

      @apply cursor-pointer;
    }
  }

  .m {
    @apply relative left-0 top-0 h-full w-full;

    button,
    & > div {
      @apply pointer-events-auto;
    }

    & > div {
      @apply absolute;

      &::before {
        content: '';
        @apply block w-full bg-cover bg-center bg-no-repeat;
      }

      &::after {
        content: '';
        @apply absolute bg-bottom bg-no-repeat;
      }
    }

    .c-0 {
      top: 70.8%;
      left: 30.4%;
      width: @width / @mobile * 100%;

      @width: 190.6357;

      &:active {
        &::before {
          background-position-y: 100%;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
        background-image: url(@img);
        background-position-y: 0%;

        @img: './img/buttons/n-b-0.svg';
      }

      @apply cursor-pointer;
    }

    .c-1 {
      top: 72%;
      left: 63.5%;
      width: @width / @mobile * 100%;

      @width: 21.5447;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transform-origin: center center;
        animation: scaleXY_150 1s ease-in-out infinite;
        animation-delay: 0s;

        @img: './img/buttons/c-1.svg';
      }

      &::after {
        bottom: 40.6%;
        margin-left: -95.321489%;
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: @w / @width * 100%;
        background-image: url(@img);
        transform-origin: center center;
        animation: visible_01 1s ease-in-out infinite;
        animation-delay: 0s;

        @w: 30.9972;
        @offset: -4%;
        @img: './img/buttons/c-1-f.svg';
        @apply left-1/2 bg-contain;
      }
    }

    .c-2 {
      top: 73.4%;
      left: 30.4%;
      width: @width / @mobile * 100%;

      @width: 190.6357;

      &:active {
        &::before {
          background-position-y: 100%;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
        background-image: url(@img);
        background-position-y: 0%;

        @img: './img/buttons/n-b-1.svg';
      }

      @apply cursor-pointer;
    }

    .c-3 {
      top: 74.6%;
      left: 63.5%;
      width: @width / @mobile * 100%;

      @width: 21.5447;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transform-origin: center center;
        animation: scaleXY_150 1s ease-in-out infinite;
        animation-delay: 0s;

        @img: './img/buttons/c-1.svg';
      }

      &::after {
        bottom: 40.6%;
        margin-left: -95.321489%;
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: @w / @width * 100%;
        background-image: url(@img);
        transform-origin: center center;
        animation: visible_01 1s ease-in-out infinite;
        animation-delay: 0s;

        @w: 30.9972;
        @offset: -4%;
        @img: './img/buttons/c-1-f.svg';
        @apply left-1/2 bg-contain;
      }
    }

    .c-4 {
      top: 92.5%;
      left: 68.7%;
      width: @width / @mobile * 100%;

      @width: 90.7185;

      &:active {
        &::before {
          background-position-y: 100%;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
        background-image: url(@img);
        background-position-y: 0%;

        @img: './img/buttons/c-0.svg';
      }

      @apply cursor-pointer;
    }

    .c-5 {
      top: 93.6%;
      left: 68.7% + 14.5%;
      width: @width / @mobile * 100%;

      @width: 21.5447;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transform-origin: center center;
        animation: scaleXY_150 1s ease-in-out infinite;
        animation-delay: 0s;

        @img: './img/buttons/c-1.svg';
      }

      &::after {
        bottom: 40.6%;
        margin-left: -95.321489%;
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: @w / @width * 100%;
        background-image: url(@img);
        transform-origin: center center;
        animation: visible_01 1s ease-in-out infinite;
        animation-delay: 0s;

        @w: 30.9972;
        @offset: -4%;
        @img: './img/buttons/c-1-f.svg';
        @apply left-1/2 bg-contain;
      }
    }

    .c-6 {
      top: 97.5%;
      left: 20.8%;
      width: @width / @mobile * 100%;

      @width: 325.7798;

      &:hover {
        &::before {
          @apply border-b-2 border-quinary;
        }
      }

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        transition: 0.1s;

        @img: './img/buttons/contact.svg';

        @apply bg-cover bg-center bg-no-repeat;
      }

      @apply cursor-pointer;
    }
  }
}
